kaantelypeli/target/
kaantelypeli/nbproject/
.DS_Store
*.code-workspace
kaantelypeli/.classpath
kaantelypeli/.project
kaantelypeli/.settings
.idea
*.iml
dependency-reduced-pom.xml
venv
__pycache__
.gradle/
build/
gradle/
gradlew
gradlew.bat
src/main/.gradle
.gradle
build
